.hero {
  background-image: url(../../assets/images/main-pg/banner/banner-without.jpg);
  position: relative;
}
.card-decor {
  position: relative;
}
.card-primary {
  position: relative;
}
.card-decor--first {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/images/main-pg/banner/blue.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: 0px;
  left: -45%;
  animation: pulseScale 5s ease infinite alternate;
  z-index: 1;
}
.card-decor--second {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/images/main-pg/banner/red.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: 0px;
  right: -45%;
  animation: pulseScale 5s ease infinite alternate;
  z-index: 1;
  animation-delay: 2.5s;
}
.mebmer img {
  width: 150px;
  height: 150px;
  /* object-fit: cover; */
  /* border-radius: 50%; */
}
.result img {
  width: 100px;
  height: 100px;
}
.card-wrapper {
  /* border: 2px solid; */
  border-radius: 25px;
  padding: 20px 10px;
  backdrop-filter: blur(7px);
  position: relative;
  z-index: 0;
  background: linear-gradient(180deg, #00000049 -17.54%, #000000c0 114.47%);
  /* background: radial-gradient(
    ellipse at center,
    rgb(16, 13, 13) 0%,
    rgba(7, 7, 7, 0.609) 70%
  );*/
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.509);
}
.hero-description{
  display: block;
}
@media (max-width: 568px) {

  .hero-description {
    display: none;
  }
}
